#products {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3em 0 0 0;
  background-color: white;
  padding: 1em;
  border: solid 0.15em rgb(230, 229, 229);
  border-radius: 1.2em;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.15);
}

.product img {
  object-fit: cover;
  max-width: 100%;
}

.product_info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1em;
}

.product_info p {
  margin: 0;
  margin-right: 3em;
}

.product_info span {
  display: flex;
  align-items: center;
  font-weight: bold;
}

@media only screen and (min-width: 768px) {
  #products {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media only screen and (min-width: 992px) {
  .product {
    max-width: 433px;
    margin: 1.5em 1em 1em 1em;
  }
}

@media only screen and (min-width: 1200px) {
  .product {
    max-width: 523px;
  }
}
