a {
    color: inherit;
    text-decoration: none;
}

a:hover{
    color: inherit;
    text-decoration: none;
}

#products {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.product {
    display: flex;
    flex-direction: column;
    margin: 3em 0 0 0;
    background-color: rgb(235, 235, 235);
    padding: 1em;
    border: solid 0.15em rgb(230, 229, 229);
    border-radius: 1.2em;
    -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.1); 
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.1);
}

.product img{
    object-fit: cover;
    max-width: 100%;
}

.product_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product_info p {
    margin: 0;
    margin-right: 3em;
}

.product_info span {
    display: flex;
    align-items: flex-end;
}